.content {
  min-width: 400px;
  min-height: 400px;
  border-radius: 10px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .image-container {
    width: 100%;
    max-width: 400px;
    height: 200px;
    margin: 24px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .loader {
      width: 30px;
      height: 30px;
      border: 2px solid var(--bg-color-1);
      border-bottom: 1px dashed;
      border-radius: 50%;
      position: absolute;
      //   left: 50%;top: 50%;
      //   transform: translateX(100%) translateY(100%);
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.status-circle {
  width: 30px;
  height: 30px;
  background-color: var(--bg-color-1);
  border-radius: 50%;

  border: 3px solid inherit;
  opacity: 0.7;
  margin: 5px;

  &.active {
    opacity: 1;
    border: 3px solid yellow !important;

    
  }

  &.true {
    border: 3px solid green;
  }

  &.false {
    border: 3px solid blue;
  }
}
