*[data-tooltip] {
  position: relative;
}

*[data-tooltip]::after {
  content: attr(data-tooltip);

  position: absolute;
  top: 50%;
  // min-width: 100%;

  pointer-events: none;
  opacity: 0;

  transform: translateX(0) translateY(-50%);
  transition: all 0.15s ease-in-out;

  display: block;
  font-size: 12px;
  line-height: 16px;
  background: var(--bg-color-2_op);
  padding: 2px 2px;
  border: 1px solid var(--bg-color-2_op);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}

*[data-tooltip]:hover::after {
  transform: translateX(60px) translateY(-50%);
  opacity: 1;
}

[data-tooltip]:not([data-tooltip-persistent])::before {
  pointer-events: none;
}
